body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #b65353;
}

.container {
    margin: auto;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 4px #0000001a;
}

h1 {
    text-align: center;
}

#getLocationButton {
    background-color: #c40f0f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#getLocationButton:hover {
    background-color: #523d8f;
}

 #location, #city, #country, #time, #altitude {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
} 